spring:
  profiles:
    active: dev

logging:
  level:
    root: INFO
    org.springframework: WARN
    org.apache.kafka: WARN
    org.hibernate: WARN
    com.zaxxer.hikari: WARN
    com.example.publisher.myapp: INFO

management:
  server:
    port: 9081  # Separate port for actuator
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    prometheus:
      enabled: true
  security:
    enabled: false
